<style>
    .navbar {
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
        height: 50px;
        display: grid;
        grid-gap: 8.5px;
        grid-template-rows: 1fr;
        grid-template-columns: 0px min-content 1fr min-content 0px;
        grid-template-areas: ". brand search login .";
        color: var(--fg-color);
        background-color: var(--lighter-bg-color);
        border-radius: 5px;
        box-shadow: 0 0 15px #00000060;
        overflow: hidden;
    }

    .navbar-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: var(--fg-color);
        font-weight: bold;
        padding: 0 10px;
    }

    .navbar-tag:hover {
        background-color: var(--dark-bg-color) !important;
    }

    .navbar-brand-container {
        grid-area: brand;
        width: 100%;
        height: 100%;
        padding: 8.5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-brand {
        width: 100%;
        height: 100%;
    }

    .navbar-search-container {
        grid-area: search;
        width: 100%;
        height: 100%;
        padding: 8.5px 0;
    }

    .navbar-search-container form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-search {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 5px;
        color: var(--fg-color);
        background-color: var(--bg-color);
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        width: 200px;
        height: 100%;
        transition: width 0.15s;
    }

    .navbar-search:focus {
        width: 320px;
        border: 2px solid var(--darker-bg-color);
    }

    .navbar-login-container {
        grid-area: login;
        width: 100%;
        height: 100%;
        padding: 8.5px 0;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 1fr;
        grid-template-columns: min-content min-content;
    }

    .navbar-login-container.logged-in {}

    .navbar-burger-container {
        grid-area: burger;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 21px;
    }

    .navbar-burger-icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .navbar-burger-input~.navbar .navbar-burger-icon::before {
        font-family: alexicons;
        content: "\e900";
    }

    .navbar-burger-input:checked~.navbar .navbar-burger-icon::before {
        content: "\e901";
    }

    .navbar-mobile {
        position: fixed;
        top: 70px;
        left: 10px;
        right: 10px;
        padding: 8.5px;
        display: none;
        grid-gap: 8.5px;
        grid-template-rows: min-content min-content;
        grid-template-columns: 1fr;
        grid-template-areas: "brand""login";
        color: var(--fg-color);
        background-color: var(--lighter-bg-color);
        border-radius: 5px;
        box-shadow: 0 0 15px #00000060;
        overflow: hidden;
        opacity: 0;
        transform: scale(0.7);
        pointer-events: none;
        transition: opacity 0.15s, transform 0.15s;
    }

    @media (max-width: 600px) {
        .navbar {
            grid-template-columns: 50px 1fr 0px;
            grid-template-areas: "burger search .";
        }

        .navbar-brand-container {
            display: none;
        }

        .navbar-login-container {
            display: none;
        }

        .navbar-burger-container {
            display: flex;
        }

        .navbar-search-container form {
            justify-content: center;
        }

        .navbar-search:focus {
            width: 100%;
        }

        .navbar-mobile {
            display: grid;
        }

        .navbar-burger-input:checked~.navbar-mobile {
            opacity: 1;
            transform: none;
            pointer-events: initial;
        }

        .navbar-mobile .navbar-tag {
            width: 100%;
            padding: 10px;
            background-color: var(--light-bg-color);
        }

        .navbar-brand-container-mobile {
            grid-area: brand;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .navbar-login-container-mobile {
            grid-area: login;
            width: 100%;
            height: 100%;
            display: grid;
            grid-gap: 8.5px;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
<input class="navbar-burger-input" type="checkbox" id="burger-checkbox" hidden>
<div class="navbar">
    <div class="navbar-brand-container">
        <a class="navbar-brand navbar-tag" href="/">
            {{ instance.title }}
        </a>
    </div>
    <div class="navbar-search-container">
        <form method="GET" action="/search">
            <input type="text" class="navbar-search" name="q" placeholder="Search crate...">
        </form>
    </div>
    <div class="navbar-login-container">
        {{#if user}}
        <span>Welcome, {{ user.name }} !</span>
        <a href="/account/settings" class="navbar-tag">Settings</a>
        <a href="/account/logout" class="navbar-tag">Logout</a>
        {{else}}
        <a href="/account/login" class="navbar-tag">Login</a>
        <a href="/account/register" class="navbar-tag">Register</a>
        {{/if}}
    </div>
    <div class="navbar-burger-container">
        <label class="navbar-burger-icon fas" for="burger-checkbox"></label>
    </div>
</div>
<div class="navbar-mobile">
    <div class="navbar-brand-container-mobile">
        <a class="navbar-brand navbar-tag" href="/">
            {{ instance.title }}
        </a>
    </div>
    <div class="navbar-login-container-mobile">
        {{#if user}}
        <span>Welcome, {{ user.name }} !</span>
        <a href="/account/settings" class="navbar-tag">Settings</a>
        <a href="/account/logout" class="navbar-tag">Logout</a>
        {{else}}
        <a href="/account/login" class="navbar-tag">Login</a>
        <a href="/account/register" class="navbar-tag">Register</a>
        {{/if}}
    </div>
</div>
