<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            text-align: center;
        }

        .hero-links {
            margin-top: 7px;
            display: flex;
        }

        .hero-link {
            display: block;
            border-radius: 5px;
            border: solid 1.5px var(--fg-color);
            margin-left: 5px;
            padding: 2px 8px;
        }

        .hero-link:first-child {
            margin-left: 0;
        }

        .hero-link:hover,
        .hero-link:focus {
            background-color: var(--fg-color);
            color: var(--bg-color);
        }

        .stats-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 10px;
        }

        .stats {
            align-items: center;
            justify-content: center;
            white-space: normal;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            width: 1400px;
            border-top: 2px solid var(--fg-color);
            border-bottom: 2px solid var(--fg-color);
        }

        .stat {
            font-size: 17px;
        }


        .content-grid {
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-auto-rows: 1fr
            align-items: start;
            justify-content: center;
        }

        @media (max-width: 1400px) {
            .content-grid {
                width: 100%;
            }

            .stats {
                width: 90%;
            }
        }

        .card-content {
            flex-grow: 1;
        }

        .content-grid-element {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1.5em;
        }


        .content-grid-title {
            width: 100%;
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            padding: 5px 0;
            align-self: flex-start;
        }

        .content-grid-desc {
            width: 100%;
            text-align: center;
            font-size: 16px;
            padding: 5px 0;
            height: 5em;
        }

        .content-grid-list {
            font-size: 18px;
            font-weight: bold;
        }

        .content-grid-entries {
            width: 100%;
            counter-reset: rank;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
        }

        .content-grid-entry::before {
            counter-increment: rank;
        }

        .content-grid-entry {
            width: 100%;
            color: var(--fg-color);
            background-color: var(--lighter-bg-color);
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
        }

        .content-grid-entry:first-child {
            margin-top: 0;
        }
        .content-grid-empty,
        .last-updated-empty {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .card-footer {
            align-self: flex-end;
            width: 100%;
            padding: 5px;
        }

        .card-footer-button {
            width: 100%;
            text-decoration: none;
            text-align: center;
            padding: 7px 10px;
            font-weight: bold;
            font-size: 20px;
            display: block;
            border-radius: 30px;
            color: var(--fg-color);
            background-color: var(--light-bg-color);
            transition: transform 0.15s;
        }

        .card-footer-button:hover,
        .card-footer-button:focus {
            transform: scale(1.03);
        }

        @media (max-width: 1000px) {
            .content-grid {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 1fr;
            }

            .content-grid-entries,
            .last-updated-entries,
            .card-footer {
                padding-left: 0;
                padding-right: 0;
            }

            .content-grid,
            .last-updated {
                border-right: none;
                border-left: none;
            }

            .last-updated {
                padding-top: 5px;
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">Categories</div>
            <div class="hero-subtitle">Categories and their most downloaded crates</div>
        </div>
    </div>
    <div class="content-grid">
        {{#if categories}}
        {{#each categories}}
        <div class="content-grid-element">
            <div class="content-grid-title"><a href="/categories/{{this.name}}">{{this.name}}</a></div>
            <div class="content-grid-desc"><a href="/categories/{{this.name}}">{{this.description}}</a></div>
                {{#if this.crates}}
		<div class="content-grid-entries">
                {{#each this.crates}}{{#if @index}},&nbsp;{{/if}}<a href="/crates/{{this.name}}">{{ this.name }}</a>{{/each}}
                </div>
                {{else}}
                <div class="content-grid-empty">Empty list.</div>
                {{/if}}
            <div class="card-footer">
		    <a class="card-footer-button elevated" href="/categories/{{this.name}}">See {{this.count}} crates</a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="search-results">
            <div class="search-results-empty">No crates...</div>
        </div>
        {{/if}}
    </div>
</body>

</html>
