<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ crate.name }} - {{ instance.title }}</title>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            text-align: center;
        }

        .keywords-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .keywords {
            font-weight: bold;
        }

        .stats-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 10px;
        }

        .stats {
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            width: 1400px;
            border-top: 2px solid var(--fg-color);
            border-bottom: 2px solid var(--fg-color);
        }

        .stat {
            font-size: 17px;
        }

        .crate-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .crate-content {
            width: 1400px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 10px;
        }

        @media (max-width: 1400px) {
            .crate-content {
                width: 100%;
            }

            .stats {
                width: 90%;
            }
        }

        .readme {
            width: 100%;
        }

        .readme pre {
            font-family: 'Fira Code', monospace;
            font-weight: bold;
            font-variant: contextual;
            font-size: 14px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px black;
            overflow-x: auto;
        }

        .readme code {
            color: var(--bg-color);
            background-color: var(--fg-color);
            font-weight: bold;
            padding: 0.2em 0.5em;
            border-radius: 5px;
        }

        .readme a {
            color: #25F;
            font-weight: bold;
        }

        .readme a:hover {
            text-decoration: underline;
        }

        .readme h1,
        .readme h2,
        .readme h3,
        .readme h4,
        .readme h5,
        .readme h6 {
            margin: 0;
        }

        @media (max-width: 600px) {
            .search-result-stats {
                display: none;
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">{{ crate.name }} #{{ crate.version }}</div>
            <div class="hero-subtitle">{{ crate.description }}</div>
        </div>
    </div>
    <div class="keywords-container">
        {{#each keywords}}
        <div class="keywords">#{{ this.name }}</div>
        {{/each}}
    </div>
    <div class="stats-container">
        <div class="stats">
            <div class="stats-block">
                <div class="stat">Downloaded&nbsp;<b>{{ crate.downloads }}</b>&nbsp;times</div>
                <div class="stat">Created on&nbsp;<b>{{ crate.updated_at }}</b></div>
                <div class="stat">Last updated on&nbsp;<b>{{ crate.updated_at }}</b></div>
                {{#if crate.repository}}
                <div class="stat">Link to&nbsp;<b><a href="{{ crate.repository }}">Repository</a></b></div>
                {{/if}}
                {{#if crate.documentation}}
                <div class="stat">Link to&nbsp;<b><a href="{{ crate.documentation }}">Documentation</a></b></div>
                {{/if}}
                {{#if crate.homepage}}
                <div class="stat">Link to&nbsp;<b><a href="{{ crate.homepage }}">Homepage</a></b></div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="crate-container">
        <div class="crate-content">
            <div class="readme">
                {{#if rendered_readme}}
                {{{ rendered_readme }}}
                {{else}}
                {{ crate.description }}
                {{/if}}
            </div>
        </div>
    </div>
</body>

</html>
