<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            /* font-weight: bold; */
            text-align: center;
        }

        .stats-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .stats {
            width: 1400px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: 10px 20px;
            border-bottom: 2px solid var(--fg-color);
        }

        .stats-left {
            font-size: 20px;
            border-right: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .stats-right {
            font-size: 20px;
            border-left: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .crate-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .crate-content {
            width: 1400px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 10px;
        }

        @media (max-width: 1400px) {
            .crate-content {
                width: 100%;
            }

            .stats {
                width: 90%;
            }
        }

        .readme {
            width: 100%;
        }

        .readme pre {
            font-weight: bold;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px black;
            overflow-x: auto;
        }

        .readme code {
            color: var(--bg-color);
            background-color: var(--fg-color);
            font-weight: bold;
            padding: 0.2em 0.5em;
            border-radius: 5px;
        }

        .readme a {
            color: #25F;
            font-weight: bold;
        }

        .readme a:hover {
            text-decoration: underline;
        }

        .readme h1,
        .readme h2,
        .readme h3,
        .readme h4,
        .readme h5,
        .readme h6 {
            margin: 0;
        }

        @media (max-width: 600px) {
            .search-result-stats {
                display: none;
            }

            .stats {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
            }

            .stats-left,
            .stats-right {
                justify-content: flex-end;
                border: none;
                border-right: 2px solid var(--fg-color);
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">{{ crate.name }} #{{ crate.version }}</div>
            <div class="hero-subtitle">{{ crate.description }}</div>
        </div>
    </div>
    <div class="stats-container">
        <div class="stats">
            <div class="stats-left"><b>{{ crate.downloads }}</b>&nbsp;downloads</div>
            <div class="stats-right">Last updated: &nbsp;<b>{{ crate.updated_at }}</b></div>
        </div>
    </div>
    <div class="crate-container">
        <div class="crate-content">
            <div class="readme">
                {{#if rendered_readme}}
                {{{ rendered_readme }}}
                {{else}}
                {{ crate.description }}
                {{/if}}
            </div>
        </div>
    </div>
</body>

</html>