<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            /* font-weight: bold; */
            text-align: center;
        }

        .stats {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: 10px 0;
        }

        .stats-left {
            font-size: 20px;
            border-right: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .stats-right {
            font-size: 20px;
            border-left: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .content-grid {
            width: 100%;
            padding: 10px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, 350px);
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 350px;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: 0 0 10px black;
            background-color: var(--fg-color);
            padding: 10px;
        }

        .card-title {
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            padding: 5px 0;
        }

        .card-content {
            flex-grow: 1;
        }

        .most-downloaded,
        .last-updated {
            background-color: var(--lighter-bg-color);
            color: var(--fg-color);
        }

        .most-downloaded-list,
        .last-updated-list {
            font-size: 18px;
            font-weight: bold;
        }

        .most-downloaded-entries,
        .last-updated-entries {
            counter-reset: rank;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .most-downloaded-entry::before,
        .last-updated-entry::before {
            counter-increment: rank;
            content: counter(rank) ". ";
        }

        .most-downloaded-entry,
        .last-updated-entry {
            padding: 3px;
            font-size: 17px;
        }

        .most-downloaded-empty,
        .last-updated-empty {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .card-footer {
            width: 100%;
            padding: 5px;
        }

        .card-footer-button {
            width: 100%;
            text-decoration: none;
            text-align: center;
            padding: 7px 10px;
            font-weight: bold;
            font-size: 20px;
            display: block;
            box-shadow: 0 0 10px #000A;
            border-radius: 30px;
            color: var(--bg-color);
            background-color: var(--fg-color);
            transition: transform 0.15s;
        }

        .card-footer-button:hover {
            transform: scale(1.05);
        }

        @media (max-width: 600px) {
            .stats {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: min-content;
            }

            .stats-left,
            .stats-right {
                justify-content: flex-end;
                border: none;
                border-right: 2px solid var(--fg-color);
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">Welcome to {{ instance.title }} !</div>
            <div class="hero-subtitle">{{ instance.description }}</div>
        </div>
    </div>
    <div class="stats">
        <div class="stats-left"><b>{{fmt_number total_downloads}}</b>&nbsp;total downloads</div>
        <div class="stats-right"><b>{{fmt_number crate_count}}</b>&nbsp;crates stored</div>
    </div>
    <div class="content-grid">
        <div class="card most-downloaded">
            <div class="card-title most-downloaded-title">Most downloaded</div>
            <div class="card-content most-downloaded-entries">
                {{#if most_downloaded}}
                {{#each most_downloaded}}
                <a class="most-downloaded-entry" href="/crates/{{ this.name }}">
                    <b>{{ this.name }}</b>: {{fmt_number this.downloads}} downloads
                </a>
                <a class="most-downloaded-entry" href="/crates/{{ this.name }}">
                    <b>{{ this.name }}</b>: {{fmt_number this.downloads}} downloads
                </a>
                {{/each}}
                {{else}}
                <div class="most-downloaded-empty">Empty list.</div>
                {{/if}}
            </div>
            <div class="card-footer">
                <a class="card-footer-button" href="/most-downloaded">See more...</a>
            </div>
        </div>
        <div class="card last-updated">
            <div class="card-title last-updated-title">Last updated</div>
            <div class="card-content last-updated-entries">
                {{#if last_updated}}
                {{#each last_updated}}
                <a class="last-updated-entry" href="/crates/{{ this.name }}">
                    <b>{{ this.name }}</b>: {{ this.updated_at }}
                </a>
                <a class="last-updated-entry" href="/crates/{{ this.name }}">
                    <b>{{ this.name }}</b>: {{ this.updated_at }}
                </a>
                {{/each}}
                {{else}}
                <div class="last-updated-empty">Empty list.</div>
                {{/if}}
            </div>
            <div class="card-footer">
                <a class="card-footer-button" href="/last-updated">See more...</a>
            </div>
        </div>
    </div>
</body>

</html>