<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            text-align: center;
        }

        .stats-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 10px;
        }

        .stats {
            align-items: center;
            justify-content: center;
            white-space: normal;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            width: 1400px;
            border-top: 2px solid var(--fg-color);
            border-bottom: 2px solid var(--fg-color);
        }

        .stat {
            font-size: 17px;
        }

        .search-results-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-results {
            width: 1400px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 10px;
        }

        @media (max-width: 1400px) {
            .search-results {
                width: 100%;
            }

            .stats {
                width: 90%;
            }
        }

        .search-result {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr min-content;
            background-color: var(--lighter-bg-color);
            color: var(--fg-color);
            padding: 20px;
            box-shadow: 0 0 10px #0006;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.15s;
            margin-top: 10px;
        }

        .search-result:first-child {
            margin-top: 0;
        }

        .search-result:hover {
            transform: scale(1.03);
        }

        .search-result-infos {
            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .search-result-title {
            font-size: 24px;
            font-weight: bold;
        }

        .search-result-desc {
            font-size: 18px;
        }

        .search-result-stats {
            border-left: solid 2px var(--fg-color);
            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .search-result-stats-entry {
            white-space: nowrap;
        }

        .search-results-empty {
            font-weight: bold;
            font-size: 20px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 600px) {
            .search-result-stats {
                display: none;
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">Search results</div>
            <div class="hero-subtitle">Searched for: {{ searched_text }}</div>
        </div>
    </div>
    <div class="stats-container">
        <div class="stats">
            <div class="stats-block">
                <div class="stat">Page&nbsp;<b>{{ page_number }} / {{ page_count }}</b></div>
                <div class="stat"><b>{{ total_results }}</b>&nbsp;total results</div>
            </div>
        </div>
    </div>
    <div class="search-results-container">
        <div class="search-results">
            {{#if results}}
            {{#each results}}
            <a class="search-result" href="/crates/{{ this.name }}">
                <div class="search-result-infos">
                    <div class="search-result-title">{{ this.name }} #{{ this.version }}</div>
                    <div class="search-result-desc">{{ this.description }}</div>
                </div>
                <div class="search-result-stats">
                    <div class="search-result-stats-entry">{{ this.downloads }} downloads</div>
                    <div class="search-result-stats-entry">Created on {{ this.updated_at }}</div>
                    <div class="search-result-stats-entry">Last updated on {{ this.updated_at }}</div>
                </div>
            </a>
            {{/each}}
            {{else}}
            <div class="search-results-empty">No search results...</div>
            {{/if}}
        </div>
    </div>
</body>

</html>
