<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
    <style>
        .hero {
            width: 100%;
        }

        .hero-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 40px 10px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .hero-subtitle {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        .stats {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: 5px 0;
        }

        .stats-left {
            font-size: 20px;
            border-right: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .stats-right {
            font-size: 20px;
            border-left: solid 1px var(--fg-color);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .search-results-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-results {
            width: 1400px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 10px;
        }

        @media (max-width: 1400px) {
            .search-results {
                width: 100%;
            }
        }

        .search-result {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr min-content;
            background-color: var(--fg-color);
            color: var(--bg-color);
            padding: 20px;
            box-shadow: 0 0 10px #000A;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.15s;
        }

        .search-result:hover {
            transform: scale(1.03);
        }

        .search-result-infos {
            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .search-result-title {
            font-size: 24px;
            font-weight: bold;
        }

        .search-result-desc {
            font-size: 18px;
        }

        .search-result-stats {
            border-left: solid 2px var(--bg-color);
            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .search-result-stats-entry {
            white-space: nowrap;
        }

        @media (max-width: 550px) {
            .search-result-stats {
                display: none;
            }
        }
    </style>
</head>

<body>
    {{> partials/navbar}}
    <div class="hero">
        <div style="height: 50px"></div>
        <div class="hero-content-container">
            <div class="hero-title">Search results</div>
            <div class="hero-subtitle">Searched for '{{ searched_text }}'</div>
        </div>
    </div>
    <div class="stats">
        <div class="stats-left">Page&nbsp;<b>{{ page_number }}</b></div>
        <div class="stats-right"><b>{{ total_results }}</b>&nbsp;total results</div>
    </div>
    <div class="search-results-container">
        <div class="search-results">
            {{#if results}}
            {{#each results}}
            <a class="search-result" href="/crates/{{ this.name }}">
                <div class="search-result-infos">
                    <div class="search-result-title">{{ this.name }} #{{ this.version }}</div>
                    <div class="search-result-desc">{{ this.description }}</div>
                </div>
                <div class="search-result-stats">
                    <div class="search-result-stats-entry">{{ this.downloads }} downloads</div>
                    <div class="search-result-stats-entry">Created on {{ this.updated_at }}</div>
                    <div class="search-result-stats-entry">Last updated on {{ this.updated_at }}</div>
                </div>
            </a>
            {{/each}}
            {{else}}
            Empty list.
            {{/if}}
        </div>
    </div>
</body>

</html>